<div class='container mt-5'>
  <h1 class='text-center'>URL shortener</h1>
  <form action='/' method='POST'>
    <div class='row mx-auto mt-5' style='width: 70%;'>
      <div class='mb-3 row'>
        <label for='inputUrl' class='col-1 col-form-label'>URL</label>
        <div class='col-11'>
          <input
            type='url'
            class='form-control'
            id='inputUrl'
            name='originUrl'
          />
        </div>
      </div>
      {{#if shortener}}
        <div class='alert alert-info text-center' role='alert'>
          Here is your shortener URL
          <a
            href='/{{shortener}}'
            class='alert-link'
          >https://tina-url.herokuapp.com/{{shortener}}</a>
        </div>
      {{/if}}
      <div class='text-center mt-4'>
        <button
          type='submit'
          class='btn btn-primary text-center'
        >Create</button>
      </div>
    </div>

  </form>
</div>